body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px; /* Adds padding around the entire body of the page */
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #434;
    color: #fff;
    padding: 1rem 0;
    /* margin-bottom: 20px; /* Adds space below the header and footer */
    text-align: center;
}

header h1 {
    margin: 0.0;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
   /*  padding: 1rem; */
    padding: 20px; /* Adds padding around the entire body of the page */
    max-width: 800px; /* Limits the width of the main content */
    margin: auto; /* Centers the main content horizontally */
}

main p {
    margin-bottom: 16px; /* adds space below each paragraph */
    font-size: 16px; /* sets the font size of the text in paragraphs */
    line-height: 1.5; /* increases the line spacing for better readability */
}

h2 {
    color: #444;
    line-height: 1.6; /* Increases the space between lines of text */
    letter-spacing: 0.5px; /* Slightly increases space between characters */
}

footer {
    text-align: center;
    background-color: #434;
    color: #fff;
    position: fixed;
    width: 100%;
    bottom: 0;
}


/* Global style for all images */
img {
    width: 100%;
    height: auto;
    border-radius: 8px; /* Optional: Adds rounded corners */
}

/* Specific style for images in the main section */
main img {
    max-width: 2000px; /* Restricts images to a maximum width */
}

/* to center an image horizontally within a container */
#myPhoto {
    display: block;

}

/* To add space around the image */
#myPhoto {
    margin: 0px; /* Adds 20 pixels of space on all sides of the image */
}

/* To add space around the image */
#myPhoto {
    position: relative; /* Relative to its normal position */
    top: 10px; /* Move down 10px from its normal position */
    bottom: 20px; /* Move down 10px from its normal position */
    left: 0px; /* Move right 20px from its normal position */
}






